
<mat-form-field>
    <mat-select [(value)]="nivelLigaSelected" (selectionChange)="nivelLigaChangeAction()">
        <mat-option [value]="nivel" *ngFor="let nivel of nivelLigaItens">
            {{nivel}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select [(value)]="campeonatoSelected" (selectionChange)="campeonatoSelectChangeAction()">
        <mat-option [value]="campeonato" *ngFor="let campeonato of campeonatosItens">
            {{campeonato.nomeCampeonato}}
        </mat-option>
    </mat-select>
</mat-form-field>

<table mat-table [dataSource]="partidasSource" matSort>
    <ng-container matColumnDef="numeroSemana">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Semana</th>
        <td mat-cell *matCellDef="let partida">{{partida.numeroSemana}}</td>
    </ng-container>
    <ng-container matColumnDef="nomeCampeonato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Campeonato</th>
        <td mat-cell *matCellDef="let partida">{{partida.nivelCampeonato}}</td>
    </ng-container>
    <ng-container matColumnDef="numeroRodada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Rodada</th>
        <td mat-cell *matCellDef="let partida">{{partida.numeroRodada}}</td>
    </ng-container>

    <ng-container matColumnDef="nomeClubeMandante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Mandante</th>
        <td mat-cell *matCellDef="let partida">{{partida.nomeClubeMandante}}</td>
    </ng-container>
    <ng-container matColumnDef="golsMandante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq"></th>
        <td mat-cell *matCellDef="let partida">
            <span *ngIf="partida.partidaJogada">
                {{partida.golsMandante}}
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="golsVisitante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq"></th>
        <td mat-cell *matCellDef="let partida">
            <span *ngIf="partida.partidaJogada">
                {{partida.golsVisitante}}
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="nomeClubeVisitante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Visitante</th>
        <td mat-cell *matCellDef="let partida">{{partida.nomeClubeVisitante}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
