<mat-tab-group>
    <mat-tab label="Por Ano">
        <mat-form-field>
            <mat-select [(value)]="temporadaSelected" (selectionChange)="clearChangeAction()">
                <mat-option [value]="t" *ngFor="let t of temporadaItens">
                    {{t.ano}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="ligaSelected" (selectionChange)="ligaChangeAction()">
                <mat-option [value]="liga" *ngFor="let liga of ligasItens">
                    {{liga.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="btSearchAction()">Buscar</button>
    </mat-tab>

    <mat-tab label="Por Clube">

        <mat-form-field>
            <mat-select [(value)]="ligaSelected" (selectionChange)="ligaChangeAction()">
                <mat-option [value]="liga" *ngFor="let liga of ligasItens">
                    {{liga.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-select [(value)]="clubeSelected" (selectionChange)="clubeChangeAction()">
                <mat-option [value]="c" *ngFor="let c of clubesItens">
                    {{c.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-tab>

</mat-tab-group>

<table mat-table [dataSource]="clubeRankingDataSource" matSort>
    <ng-container matColumnDef="clubeNome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Clube</th>
        <td mat-cell *matCellDef="let cr">{{cr.clube.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Ano</th>
        <td mat-cell *matCellDef="let cr">{{cr.ano}}</td>
    </ng-container>

    <ng-container matColumnDef="posicaoGeral">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Posição Geral</th>
        <td mat-cell *matCellDef="let cr">{{cr.posicaoGeral}}</td>
    </ng-container>

    <ng-container matColumnDef="classificacaoContinental">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Continental</th>
        <td mat-cell *matCellDef="let cr">{{cr.classificacaoContinental}}</td>
    </ng-container>

    <ng-container matColumnDef="classificacaoNacional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Nacional</th>
        <td mat-cell *matCellDef="let cr">{{cr.classificacaoNacional}}</td>
    </ng-container>

    <ng-container matColumnDef="classificacaoCopaNacional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Copa Nacional</th>
        <td mat-cell *matCellDef="let cr">{{cr.classificacaoCopaNacional}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
