<!--<mat-form-field>
    <mat-select [(value)]="anoSelected" (selectionChange)="clearChangeAction()">
        <mat-option [value]="a" *ngFor="let a of anoItens">
            {{a}}
        </mat-option>
    </mat-select>
</mat-form-field>-->

<mat-form-field>
    <mat-select [(value)]="ligaSelected" (selectionChange)="btSearchAction()">
        <mat-option [value]="liga" *ngFor="let liga of ligasItens">
            {{liga}}
        </mat-option>
        <mat-option [value]="'all'">TODAS</mat-option>
    </mat-select>
</mat-form-field>

<!--<button mat-raised-button (click)="btSearchAction()">Buscar</button>-->

<table mat-table [dataSource]="clubeRankingDataSource" matSort>
    <ng-container matColumnDef="clubeNome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Clube</th>
        <td mat-cell *matCellDef="let cr">{{cr.clubeNome}}</td>
    </ng-container>

    <ng-container matColumnDef="pontuacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Pontos</th>
        <td mat-cell *matCellDef="let cr">{{cr.pontuacao}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosNacional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">N</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosNacional}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosNacionalII">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">NII</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosNacionalII}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosCopaNacional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">CN</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosCopaNacional}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosCopaNacionalII">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">CNII</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosCopaNacionalII}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosContinental">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">C</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosContinental}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosContinentalII">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">CII</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosContinentalII}}</td>
    </ng-container>

    <ng-container matColumnDef="titulosContinentalIII">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">CIII</th>
        <td mat-cell *matCellDef="let cr">{{cr.titulosContinentalIII}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
