<mat-form-field>
    <mat-select [(value)]="campeonatoSelected" (selectionChange)="campeonatoChangeAction()">
        <mat-option [value]="campeonato" *ngFor="let campeonato of campeonatosItens">
            {{campeonato.nomeCampeonato}}
        </mat-option>
    </mat-select>
</mat-form-field>

<table mat-table [dataSource]="classificacoesSource" matSort>
    <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Posição</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.posicao}}</td>
    </ng-container>
    <ng-container matColumnDef="nomeClube">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdMed">Clube</th>
        <td mat-cell *matCellDef="let class">{{class.nomeClube}}</td>
    </ng-container>
    <ng-container matColumnDef="jogos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Jogos</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.numJogos}}</td>
    </ng-container>
    <ng-container matColumnDef="pontos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Pontos</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.pontos}}</td>
    </ng-container>

    <ng-container matColumnDef="vitorias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Vitórias</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.vitorias}}</td>
    </ng-container>
    <ng-container matColumnDef="empates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Empates</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.empates}}</td>
    </ng-container>
    <ng-container matColumnDef="derrotas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Derrotas</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.derrotas}}</td>
    </ng-container>

    <ng-container matColumnDef="saldoGols">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">SG</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.saldoGols}}</td>
    </ng-container>
    <ng-container matColumnDef="golsPro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">GP</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.golsPro}}</td>
    </ng-container>
    <ng-container matColumnDef="golsContra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">GC</th>
        <td mat-cell *matCellDef="let class">{{class.classificacao.golsContra}}</td>
    </ng-container>

    <ng-container matColumnDef="probCampeao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Campeão</th>
        <td mat-cell *matCellDef="let class">{{class.probabilidadeCampeao}}</td>
    </ng-container>
    <ng-container matColumnDef="probRebAce">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Acesso/Rebaixamento</th>
        <td mat-cell *matCellDef="let class">
            <span *ngIf="class.classificacao.nivelCampeonato == 'NACIONAL'">
                {{class.probabilidadeRebaixamento}}
            </span>
            <span *ngIf="class.classificacao.nivelCampeonato == 'NACIONAL_II'">
                {{class.probabilidadeAcesso}}
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="probCont">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Continental</th>
        <td mat-cell *matCellDef="let class">{{class.probabilidadeClassificacaoContinental}}</td>
    </ng-container>
    <ng-container matColumnDef="probCopNac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tdPeq">Copa Nacional</th>
        <td mat-cell *matCellDef="let class">{{class.probabilidadeClassificacaoCopaNacional}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--<cdk-accordion>
    <cdk-accordion-item
        *ngFor="let clasProb of campeonatosItens;"
        #accordionItem="cdkAccordionItem"
    >
        <div (click)="accordionItem.toggle()">
            {{clasProb.nomeCampeonato}}
        </div>
        <div [style.display]="accordionItem.expanded ? '' : 'none'">
            {{clasProb.nivelCampeonato}}
        </div>

    </cdk-accordion-item>
</cdk-accordion>-->
